<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile=".\nlog-internal.log">
  <targets>
    <target name="filelog"
            xsi:type="File"
            fileName="${basedir}/logs/${logger}.log"
            layout="${date:format=HH\:mm\:ss\.fff} ${level:uppercase=true:padding=5} ${message} | ${exception:format=Type,Message,StackTrace:separator=;:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>

    <target name="file"
            xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyyMMdd_HH}.log"
            layout="${date:format=HH\:mm\:ss\.fff} ${level:uppercase=true:padding=5} ${logger} ${message} | ${exception:format=Type,Message,StackTrace:separator=;:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>

    <target name="error"
            xsi:type="File"
            fileName="${basedir}/logs/${date:format=yyyyMMdd_HH}.error.log"
            layout="${date:format=HH\:mm\:ss\.fff} ${level:uppercase=true:padding=5} ${logger} ${message} | ${exception:format=Type,Message,StackTrace:separator=;:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>

    <target name="console"
            xsi:type="Console"
            layout="${date:format=HH\:mm\:ss\.fff} ${level:uppercase=true:padding=5} ${logger} ${message} | ${exception:format=Type,Message,StackTrace:separator=;:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
    <target xsi:type="Null" name="Null" formatMessage="False" />

  </targets>

  <rules>
    <logger name="AsteriskService" minlevel="Debug" writeTo="file" final="true" />
    <logger name="AsteriskService" minlevel="Trace" writeTo="Null" final="true" />
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>

</nlog>
